/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body,html{
    height: 100%;
}
.container{
    width: 80%;
}

nav ul a{
    font-weight: 300;
}

.row{
    margin: 0 !important;
}

.card{
    box-shadow: none;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
        @import url(https://fonts.googleapis.com/css?family=Roboto);
        @import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css);
        @import url(vendor/flexboxgrid.min.css);

$negro:  #292929;
$amarillo: rgba(#009688, .8);
$plomo: #242427;
$blanco: #eee;

#navigation{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    &.desktop.active{
       background-color: $negro !important;
       box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .brand-logo{
        font-size: 1.5em;
    }
}

#landing{
    position: relative;
    height: 100%;
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1,p{
        font-weight: 300;
    }
    h1{
        font-size: 2.5em;
    }
}

#aboutus{
    
    h2{
        margin-top: 0;
    }
    p{
        text-align: justify;
    }
    
    #img-about,#information{
        height: 500px;
    }

    #img-about{
        background-image: url("../imgs/icons/group-1.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: auto;
    }
}

#products{
    h2{
        text-align: center;
    }
    .card-image{
        height: 300px;
        background-size: cover;
        background-position: center;
    }
}



#frontfooter{
    p{
        padding: 1em;
        text-align: center;
        background-color: $negro;
        color: $blanco;
        margin-bottom: 0;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */


.border{
    box-shadow: 0 0 0 1px $blanco;
}

.linea{
    box-shadow: 2px 0 0 0 $amarillo inset;
    display: block;
    margin: auto;
    width: 2px;
}

.left{
    margin-left: auto;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-space{
    margin-top: 3em;
}

.no-margin{
    margin: 0 !important;
}

.no-padding{
    padding: 0 !important;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.white-text{
    color: #eee;
}

.black{
    background-color: $negro !important;
}

.grey{
    background-color: $plomo !important;
}

.amber-text{
    color: $amarillo !important;
}

.slim{
    font-weight: 300;
    ul{
        li{
            font-weight: 300;
        }
    }

    p{
        font-weight: 300;
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.title{
    padding-bottom: 1em;
    position: relative;
    text-align: left;
    &::first-letter{
        font-weight: bold;
        color: $amarillo;
    }
}

h2.title{
    font-size: 2em;
}

h3.title{
    font-size: 1.5em;
}

h4.title{
    font-size: 1.2em;
}

.bottom-line
{
    box-shadow: 0 -1px 0 0 $amarillo inset;
}

.right-line{
    box-shadow: -2px 0 0 0 $amarillo inset;
}

.normal-padding{
    padding: 2em 0 !important;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
