/*FONTS*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
/* VARS COLORS*/
/*OWN STYLES*/
.product-list .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list header {
  background-color: #F7F8FB;
}

.product-list header .container {
  height: 70px;
}

.product-list header span {
  font-size: 1.4em;
  color: #3598DC;
}

.product-list header a {
  margin-left: auto;
}

.product-list .item-list {
  height: 55px;
  cursor: pointer;
  box-shadow: 0 1px 0 0 #e0e0e0;
}

.product-list .item-list .container {
  height: 55px;
}

.product-list .item-list .title {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.product-list .item-list .actions {
  width: 50%;
  padding-left: 1em;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-list .item-list:hover {
  background-color: #e0e0e0;
}

.flex-wrapper {
  padding: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#311ebf+0,168fd4+100,7db9e8+100 */
  background: #311ebf;
  background: linear-gradient(45deg, #311ebf 0%, #168fd4 100%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#311ebf', endColorstr='#7db9e8',GradientType=1 );
}

#footer {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  width: 80%;
}

#footer img {
  opacity: .6;
  display: block;
  margin: auto;
}

#footer p {
  text-transform: uppercase;
  color: #c4c4c4;
  font-size: 1.2rem;
}

#login {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-top: auto;
}

#login input[type="email"], #login input[type="password"] {
  font-size: 1em !important;
}

/*RESETS*/
h1, h2, h3, h4, h5, h6, p, label, td, tr, th, button, input, span, a {
  font-family: 'Open Sans', sans-serif;
}

.jFiler-input-button {
  background-image: none !important;
}

.btn-primary {
  background-color: #3598DC;
  border-color: #3598DC;
  transition: .3s;
}

.btn-primary:hover {
  background-color: #217ebd;
  border-color: #217ebd;
}

.btn-default {
  border-color: #3598DC;
  color: #3598DC;
}

.btn-default:hover {
  border-color: #3598DC;
  color: #3598DC;
  background-color: #ddd;
}

.panel {
  border: none !important;
  box-shadow: 0 0 0 1px #e0e0e0;
}

.navbar {
  border: none;
  margin-bottom: 0;
  background-color: #3598DC;
}

.navbar:before, .navbar:after {
  display: none;
}

.navbar a {
  color: white;
}

.navbar a a:hover {
  color: #ddd;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-nav li a:hover {
  color: #ddd;
}

.navbar-default .navbar-nav li a.open {
  background-color: #60aee4;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: #ddd;
}

.navbar-default .dropdown-menu a {
  color: #3598DC !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #60aee4;
  color: white;
}

.row {
  margin: 0 !important;
}

/*HELPERS*/
/*Box helpers*/
.top-space {
  margin-top: 1em;
}

.top-space.x2 {
  margin-top: 2em;
}

.top-space.x3 {
  margin-top: 3em;
}

.top-space.x4 {
  margin-top: 4em;
}

.top-space.x5 {
  margin-top: 5em;
}

.top-space.m1 {
  margin-top: -1em;
}

.top-space.m2 {
  margin-top: -2em;
}

.top-space.m3 {
  margin-top: -3em;
}

.top-space.m4 {
  margin-top: -4em;
}

.top-space.m5 {
  margin-top: -5em;
}

.bottom-space {
  margin-bottom: 1em;
}

.padding {
  padding: 1em;
}

.padding.px2 {
  padding: 2em;
}

.padding.px3 {
  padding: 3em;
}

.padding.px4 {
  padding: 4em;
}

.padding.px5 {
  padding: 5em;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

/*Texts helpers*/
.slim {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

/*Colors hepers*/
/*text*/
.blue-text {
  color: #3598DC;
}

.light-blue-text {
  color: #60aee4;
}

/*background*/
.white {
  background-color: white;
}

/*Media queryes*/
@media (max-width: 768px) {
  .flex-wrapper {
    padding: .5em;
    height: auto;
    min-height: 100vh !important;
  }
  .navbar-toggle {
    margin-right: 0 !important;
  }
  .navbar-brand {
    padding-left: 0 !important;
  }
}
